body {
  font-family: 'Lucida Grande', 'Helvetica Neue',    Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #480363;
}
img{
  text-align: top;
}

table {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
tr th {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
tr th a{
  text-decoration:none;
  color: 000;
}

tr th:hover{
  background: #555;
  color: #fff;
}

#info{
  color: #fff;
  text-align: left;
}

h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}

footer{
  color: #fff;
  
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: white;
  text-align: center;
}



